<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HS.Properties.Settings>
            <setting name="Aliases" serializeAs="String">
                <value>{"1":"helo","12":"d","123":"123","1234":"helo","12345":"helo","123456":"helo","1234567":"helo","12345678":"helo","123456789":"helo","1234567890":"helo"}</value>
            </setting>
            <setting name="Modded_Editor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plugin_List" serializeAs="String">
                <value>{"plugins":[]}</value>
            </setting>
            <setting name="Projects_Created" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="Projects_Played" serializeAs="String">
                <value>1876</value>
            </setting>
            <setting name="Users_Viewed" serializeAs="String">
                <value>312</value>
            </setting>
            <setting name="Is_Setup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seconds_Spent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start_Timestamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Saved" serializeAs="String">
                <value>0</value>
            </setting>
        </HS.Properties.Settings>
    </userSettings>
</configuration>